.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20vh auto;
  max-width: 1200px;
  width: 100%;
  .logo {
    width: 80px;
    height: 80px;
    margin-bottom: 14px;
    border-radius: 12px;
    background-image: url('/img/messenger.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .subtitle {
    margin-top: 6px;
    color: var(--secondary-text);
  }

  .loginActions {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    gap: 8px;

    .socialBtn {
      width: 100%;
      transition: all 250ms cubic-bezier(var(--ts-timing));

      img {
        vertical-align: baseline;
        margin-top: -0.3em;
        margin-bottom: -0.3em;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .googleBtn {
      @extend .socialBtn;

      color: var(--gray-color);
      background-color: var(--white-color);

      .img {
        background-color: red;
      }
    }

    .githubBtn {
      @extend .socialBtn;

      background-color: var(--black-color);
      .img {
        background-color: white;
      }
    }
  }
}
